@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-tertiary);
}

:root {
  --color-primary: #780000;
  --color-secondary: #c1121f;
  --color-tertiary: #fdf0d5;
  --color-forth: #003049;
  --color-fifth: #669bbc;
}
